html, body {
    font-family: 'Open Sans', ui-sans-serif, system-ui, sans-serif;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden !important;
}

.content-scroll {
    max-height: 80vh; // ajuste conforme necessário
    overflow-y: auto;
}